.header {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.main {
    display: block;
    width: 100%;
    clear: both;
}

.ingredient-build {
    display: block;
    width: 40%;
    float: left;
}

.ingredient-build > .h2 {
    display: inline-block;
}

.add-ingredients {
    display: block;
    width: 50%;
    float: right;
}


/* 
    make number input arrows always visible
     - works in chrome, firefox, opera
     - arrows don't appear at all in edge or ie11
*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
